/*地图*/
#mapDiv
{
    width: 100%;  
}
h4
{
    text-align:center;    
}
input
{
    width:100px;  
}
table
{
    text-align:left;    
    font-size: 19px;
    font-family: "Slim-Joe";
}
.FarmInfoMenuBtn
{
    width: 25%;
}
.FarmInfoMenuDiv
{
    height:400px;   
}

.mySelect
{
    height:40px;    
    width:100px;
    background:#E6E6E6;
    
}

/*主页面*/
.section-header .separator {
    margin: 0em auto 2em;
}
.space-50{
    height: 50px;
    width: 100%;
    display: block;
    content: "";
}
.section .parallax > img{
    width: 100%;
    min-width: 0;
    min-height: 0;
}
.pattern-image:after{
    opacity: .2;
/*                 background: #111; */
}
.section-header h1{
    text-shadow: -2px 2px 30px rgba(0, 0, 0, 0.25), -2px 4px 14px rgba(0, 0, 0, 0.1);
}
.section-header h5{
        text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.3);
}
.section-header .content{
    top: 42%;
}
.section-we-are-1 .title{
    max-width: 960px;
}
.card .icon ~ h3{
    margin-bottom: 10px;
}
.section-with-hover .project .content{
    text-align: center;
}
.section-with-hover .project .over-area{
    background: rgba(0, 0, 0, .83);
}
.section-clients-2{
    padding: 6em 0 1em;
}
.section-clients-2 .nav-text li {
    margin: 0 15px 10px 15px;
}
.section-contact-3 .contact-container .address-container{
    width: 28%;
    background-color: #FFFFFF;
    height: 470px;
    top: 50px;
    padding: 20px;
}
.section-contact-3 .address{
    margin-top: 40px;
}
.section-we-made-3 .content{
    padding: 0 15px;
    text-align: center;
}
.section-we-made-3 .over-area .content h3{
    margin: 5px 0 20px;
}
.section-we-made-3 .over-area .content p{
    font-size: .9em;
    color: #898989;
}
.section-we-made-3 .over-area .content h5{
    margin-bottom: 0px;
    margin-top: 20px;
}

.btn-black{
    letter-spacing: 1px;
    margin-top: 20px;
}

.copyright a{
    color: #FFFFFF;
}

.section-team-2 .team .member p {
    font-size: .9em;
    padding: 0 10px;
}

.card{
    margin-bottom: 30px;
}
.section-with-hover .project .over-area.over-area-sm .content p {
    font-size: .85em;
}
.section-with-hover .project .over-area.over-area-sm .content h4 {
    font-size: 1.6em;
}
.logo{
    display: block;
    margin: 0 auto 10px;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    border: 1px solid #333333;
    overflow: hidden;
}
.logo img{
    width: 100%;
    height: 100%;
}
.loading .loading-container p {
    font-size: 30px;
    width: 220px;
    margin: 0 auto;
    margin-bottom: 30px;
    height: 35px;
}
.loading .logo{
    opacity: 0;
    transition: all 0.9s;
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
}
.loading .logo.visible{
    opacity: 1;
}
.sharrre.btn{
    color: #444444;
    border-color: #444444;
    font-weight: 400;
}
.address .col-md-6{
    padding-right: 7px;
    padding-left: 7px;
}
a.img-class{
    opacity: 1;
}
a.img-class:hover{
    opacity: .9;
}

.btn-lg{
    padding: 14px 10px;
}

@media (max-width: 1200px){
    .section-contact-3 .contact-container .address-container{
        height: 520px;
    }
}
a
{
    cursor:pointer;	
    text-decoration:none;
    font-size: 19.5px;
    font-family: "Slim-Joe";
}


/*登录按钮的定位*/
#logInDiv
{
  position: absolute;
  right: 0px;
  top: 0px;    
  z-index:401;
  float: right;
}


.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 98%;
    left: 3%;
    z-index: 500;
}

#FuncitonBtn
{
     background-color: #777;
}
.tdt-bottom.tdt-left
{
    display:none;
}
    
.panel-title > a
{
    text-decoration:none;
    font-size: 20px;
    font-family: "Slim-Joe";
 }
 
.panel-group
{
 cursor: pointer;
 }

#treeUlDiv
{
    font-size:18px;
    }
 
#modalBody
{
        padding:0px;
    }
    
            /*重构 popover 
.popover{background:#C00;color:#FFF;}
.popover .popover-content{padding:1px 5px;}
.popover.top>.arrow:after{border-top-color:#C00;}*/

/*重构 bootstrap 默认错误提示 
.has-error input,
.has-error textarea,
.has-error select{background-color:#F2DEDE;}
.has-success input,
.has-success textarea,
.has-success select{background-color:#DFF0D8}*/


.imgClass{
    background-color: #A8E0B3;
    color: #FFFFFF;
    border-radius: 100px;
    border-width: 2px;
    font-size: 20px;
    font-style: oblique;
    font-family:Consolas;
    font-weight:bold;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    filter:alpha(Opacity=80);
    -moz-opacity:0.5;
    opacity: 0.7;
}